{% extends 'music/base.html' %}
{% block title %}Add Album{% endblock title %}
{% block albums_active %}active{% endblock albums_active %}
{% block content %}
    <div class="container-fluid" style="background-color: green;">
        <div class="row">
            <div class="col-sm-12 col-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="" class="form-gorizontal" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'music/form_template.html' %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button class="btn btn-success" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}